<div class="within-directive">
    <p><b>Type 4.1: Transcluded with slots</b></p>
    <p class="sep">
        Template gets directive scope: same as above (parent/child/isolate scope) (scope id: {{$id}})
        <br/>
        > {{name}} is {{state}}!
        <br/>
        
        <p><b>directive scope edition</b></p>
        name: <input ng-model="name" type="text">
        <br/>
        state: <input ng-model="state" type="text">
        
        <p>debug:</p>
        <ul>
            <li>$scope.name: {{name}}</li>
            <li>$scope.state: {{state}}</li>
        </ul>
    </p>

    <div class="transcluded">
        <p><strong>slot 'name':</strong><div ng-transclude="name">fallback name</div></p>
        <p><strong>slot 'state':</strong><div ng-transclude="state"></div></p>
    </div>
</div>

